<launch>
  <arg name="sim" />
  <arg name="localization"        default="false" />

  <arg name="database_path"       default="rtabmap.db"/>
  <arg name="args"                default="-d"/>  <!--Possible arg -d to delete database on startup-->

  <arg name="wait_for_transform"  value="0.2"/>
  <arg name="move_base_config"    default="3d_unknown"/>

  <!-- Gazebo Params -->
  <arg if="$(arg sim)" name="pointcloud_topic"  value="/camera/depth/image_raw"/>
  <arg if="$(arg sim)" name="cmd_vel_topic"     value="/stretch_diff_drive_controller/cmd_vel"/>
  <arg if="$(arg sim)" name="odom_topic"        value="/stretch_diff_drive_controller/odom"/>
  <arg if="$(arg sim)" name="scan_topic"        value="/scan"/>
  <arg if="$(arg sim)" name="rgb_topic"         value="/camera/color/image_raw"/>
  <arg if="$(arg sim)" name="rgb_camera_info"   value="/camera/color/camera_info"/>

  <!-- Stretch Params -->
  <arg unless="$(arg sim)" name="pointcloud_topic"  value="/camera/aligned_depth_to_color/image_raw"/>
  <arg unless="$(arg sim)" name="cmd_vel_topic"     value="/stretch/cmd_vel"/>
  <arg unless="$(arg sim)" name="odom_topic"        value="/odom"/>
  <arg unless="$(arg sim)" name="scan_topic"        value="/scan"/>
  <arg unless="$(arg sim)" name="rgb_topic"         value="/camera/color/image_raw"/>
  <arg unless="$(arg sim)" name="rgb_camera_info"   value="/camera/color/camera_info"/>

  <include file="$(find stretch_rtabmap)/launch/move_base.launch">
    <arg name="config" value="$(arg move_base_config)" />
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
  </include>
  <include file="$(find stretch_rtabmap)/launch/rtab.launch">
    <arg name="localization" value="$(arg localization)"/>
    <arg name="args" value="$(arg args)"/>
    <arg name="database_path"     default="$(arg database_path)"/>
    <arg name="wait_for_transform"  default="$(arg wait_for_transform)"/>
    <arg name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="odom_topic" default="$(arg odom_topic)"/>
    <arg name="scan" default="$(arg scan_topic)"/>
    <arg name="rgb_topic" default="$(arg rgb_topic)"/>
    <arg name="rgb_camera_info" default="$(arg rgb_camera_info)"/>
  </include>
</launch>
