<launch>
  <arg name="sim" />

  <group if="$(arg sim)">
    <include file="$(find stretch_gui)/launch/stretch_gazebo.xml"/>
    <node name="stretch_gui" pkg="stretch_gui" type="main" output="screen">
      <rosparam command="load" file="$(find stretch_gui)/config/params_gazebo.yaml" />
    </node>
  </group>
  <group unless="$(arg sim)">
  <include file="$(find stretch_gui)/launch/stretch_interface.xml"/>
    <node name="stretch_gui" pkg="stretch_gui" type="main" output="screen">
      <rosparam command="load" file="$(find stretch_gui)/config/params.yaml" />
    </node>
  </group>
</launch>
